/* Base Styles */

/* Application Styles */

html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
}

body {
    background: #ffffff url('https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@2x.jpg') repeat left top;
    background-size: 18px 18px;
}

#container {
    font-family: sans-serif;  
    width: 100%;
}

#header {    
    position: fixed;    
    left: 0;    
    right: 0;                
    top: -1px;
	padding-top: 1px;    
    height: 50px;
    width: 100%;         
    z-index: 100;
}

.logo {
    padding: 15px 0;
}

.logo img {
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main {        
    height: 100%;
    width: 100%;
    margin-top: 50px;
    padding: 10px;
}

/**
 * List used
 */
ul {
    position: relative;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style: none;

    background: #323232;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
ul li {
    position: relative;
    padding: 16px;
    /*background: #eee;*/
    background: #fff;
    color: #252525;
    z-index: 2;

    -webkit-transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    transform: translateZ(0px);
}

ul li .name {
    font-size: 16px;
}

ul li .items {
    font-size: 12px;
}

ul li:nth-child(odd) {
    /*background: #fff;*/
    background: #eee;
}


/*RANGE*/

/*this is only for webkit, not opera*/
input[type='range'] {
    -webkit-appearance: none;
    padding-left:2px; padding-right:2px;
    -webkit-border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #000000, #333333, #000000);
}

/* Standard Styles */

.oAuto {
    overflow: auto;
}

.oContainer {
    overflow: hidden;
    height: 100%;
}

.pbm { /* padding bottom medium */
    padding-bottom: 10px;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.hide {
    display: none;
}
